<ion-view title="{{cliente.nomeRazao}}">
  <ion-content has-header="true" padding="true">
	
	<div class="dark" id='cliente-detalhes'>
		<h2>{{cliente.nomeRazao}}</h2>
		  <p ng-show="!cliente.nomeFantasia == ''">Nome Fantasia: {{cliente.nomeFantasia}}</p>
		  <p ng-show="!cliente.cpfCnpj == ''">CPF / CNPJ: {{cliente.cpfCnpj}}</p>
		  <p ng-show="!cliente.endereco[0] == ''">Endereço: {{cliente.endereco[0].logradouro}}<span ng-show="!cliente.endereco[0].numero == ''">,</span>{{cliente.endereco[0].numero}}<spanng-show="!cliente.endereco[0].bairro == ''">,</span ng-show="!cliente.endereco[0].cidade == ''"> {{cliente.endereco[0].bairro}} <span>- </span> {{cliente.endereco[0].cidade}}  </p>
		  <p ng-show="!cliente.inscricaoEstatual == ''">Inscrição Estadual: {{cliente.inscricaoEstatual}}</p>
		  <p ng-show="!cliente.inscricaoMunicipal == ''">Inscrição Municipal: {{cliente.inscricaoMunicipal}}</p>
		  <p ng-show="!cliente.suframa == ''">Suframa: {{cliente.suframa}}</p>
		  <p ng-show="!cliente.dataNascimentoFundacao == ''">Data de Nascimento / Fundação: {{cliente.dataNascimentoFundacao | date:'dd/MM/yyyy'}}</p>
		  <p ng-show="!cliente.telefone1 == ''">Telefone: {{cliente.telefone1}}</p>
		  <p ng-show="!cliente.telefone2 == ''">Telefone 2: {{cliente.telefone2}}</p>
		  <p ng-show="!cliente.celular == ''">Celular: {{cliente.celular}}</p>
		  <p ng-show="!cliente.email == ''">Email: {{cliente.email}}</p>
		  <hr />
		  
		  <p ng-show="!cliente.situacaoFinaceira == ''">Situação Financeira: {{cliente.situacaoFinaceira}}</p>
		  <p ng-show="!cliente.tabelaPreco == ''">Tabela de Preços: {{cliente.tabelaPreco}}</p>
		  <p ng-show="!cliente.visita == ''">Visita: {{cliente.visita}}</p>
		  <p ng-show="!cliente.tipoCobranca == ''">Tipo de Cobrança: {{cliente.tipoCobranca}}</p>
		  <p ng-show="!cliente.dataCadastro == ''">Possui cadasto desde: {{cliente.dataCadastro | date:'dd/MM/yyyy'}}</p>
		  <br />
		  
		  <p ng-show="!cliente.observacoes == ''">Observações: {{cliente.observacoes}}</p>
		  <hr ng-show="!cliente.observacoes == ''" />
		  
				  
	</div>

    <button class="button button-block button-positive" ng-click="salvaCliente(cliente)" onClick="novoPedido();j('.bt-back').click();window.location='#/pedido-produto';">Pedido</button>


  </ion-content>
</ion-view>