<ion-view title="Sincronismo">
	<ion-content class="has-header dark padding">  

		<!--
		<h2>Sincronizar por data:</h2>
		<form name="formData">
			<h4>De:</h4>
			<label class="item item-input">
			  <i class="icon ion-ios7-calendar-outline placeholder-icon"></i>
			  <input id="datepicker" type="date" placeholder="Selecionar Data" ng-click="selecionaData()" ng-model="dataInicial">
			</label>
			<h4>Até:</h4>
			<label class="item item-input">
			  <i class="icon ion-ios7-calendar-outline placeholder-icon"></i>
			  <input id="datepicker" type="date" placeholder="Selecionar Data"  ng-click="selecionaData()" ng-model="dataFinal" ng-max="31/12/2014"  model-view-value="true" />
			</label>
			
			<div class="alert alert-error" ng-show="dataInicial > dataFinal">
				<button type="button" class="close" data-dismiss="alert">×</button>
				A data inicial deve ser menor que a data final.
			</div>

		</form>
		-->
		
		<button ng-disabled="btnEnviar" ng-click="enviar();" class="button button-block button-stable button-positive icon-right ion-ios7-cloud-upload-outline">
		  Enviar
		</button>
		<button ng-disabled="false" ng-click="enviar();sincronizar();" class="button button-block button-stable button-positive icon-right ion-ios7-cloud-download-outline">
		  Sincronizar
		</button>
		<div id="iconLoadProdutos" style="display:none">
			<span>Sincronizando produtos...</span>
			<div class="icon ion-load-c"></div>
		</div>
		<div id="iconLoadClientes" style="display:none">
			<span>Sincronizando clientes...</span>
			<div class="icon ion-load-c"></div>
		</div>
		
		<p class="progress-clientes hide">Clientes</p>
		<div class="progress ng-isolate-scope progress-clientes hide" value="dynamic" max="max">
			<div ng-style="{width: perClientes + '%'}" aria-valuemax="200" aria-valuemin="0" aria-valuenow="84" role="progressbar" ng-class="type &amp;&amp; 'progress-bar-' + type" class="progress-bar"><span style="float:right; margin-right:10px;white-space:nowrap;" class="ng-scope ng-binding">{{perClientes}}%</span></div>
		</div>
		
		<p class="progress-produtos hide">Produtos</p>
		<div class="progress ng-isolate-scope progress-produtos hide" value="dynamic" max="max">
			<div ng-style="{width: perProdutos + '%'}" aria-valuemax="200" aria-valuemin="0" aria-valuenow="84" role="progressbar" ng-class="type &amp;&amp; 'progress-bar-' + type" class="progress-bar"><span style="float:right; margin-right:10px;white-space:nowrap;" class="ng-scope ng-binding">{{perProdutos}}%</span></div>
		</div>
		
		<p class="progress-produtoGrades hide">Grades dos Produtos</p>
		<div class="progress ng-isolate-scope progress-produtoGrades hide" value="dynamic" max="max">
			<div ng-style="{width: perProdutoGrades + '%'}" aria-valuemax="200" aria-valuemin="0" aria-valuenow="84" role="progressbar" ng-class="type &amp;&amp; 'progress-bar-' + type" class="progress-bar"><span style="float:right; margin-right:10px;white-space:nowrap;" class="ng-scope ng-binding">{{perProdutoGrades}}%</span></div>
		</div>
		
		<div class="alert alert-success clientes-ok hide">
			<strong>Lista de Clientes atualizada.</strong>
		</div>
		<div class="alert alert-success produtos-ok hide">
			<strong>Lista de Produtos atualizada.</strong>
		</div>
		<div class="alert alert-success produtoGrades-ok hide">
			<strong>Grades dos produtos atualizadas.</strong>
		</div>
		<div class="alert alert-success sincronismo-ok hide">
			<strong>Sincronismo finalizado com sucesso.</strong>
		</div>
		<div class="alert alert-info atualizando-registros hide">
			<strong>Atualizando registros... Aguarde.</strong>&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="icon ion-load-c"></div>
		</div>
		
		<div id="atualiza-loader" ng-click="atualizaLoader()"></div>
		
		
		
		<style>

		</style>
		
	</ion-content>
</ion-view>
