<ion-view title="Login">
  <ion-content class="has-header padding">  
	
	<!-- Login -->
	<div id="form-login" class="full">

		<img src="img/pedidoweb.png" class="block" style="margin:auto;width: 65%;max-width: 20em;" />	
		<form id="form-login" ng-submit="fazerLogin(usuario,senha)">
			<div class="list">
				<label class="item item-input">
					<input id="user" type="text" placeholder="Usuário..." ng-model="user">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Senha..." ng-model="pass">
				</label>
			</div>
			<div class="padding">
				
				<button type="submit" class="button button-block button-positive" ng-click="validaLoginLocal(user, pass)">Login</button>
				
				<!--Botões para testes com login, descomente apenas para realizar testes-->
				<!--
				<button type="submit" class="button button-block button-positive" ng-click="validaLoginServer(user, pass)">validaLoginServer</button>
				<button type="submit" class="button button-block button-positive btnGravarLogin" ng-click="gravaLogin(user, pass, '3189teste20022015')">Gravar</button>
				<button type="submit" class="button button-block button-positive" ng-click="validaTokenn()">validaToken</button>
				
				Login: {{dadosLogin}}
				
				<div onClick="loginSuccess()">login ok</div>
				<div id="login-erro" onClick="loginErro()">login erro</div>
				-->
				
			</div>
		</form>
		
		<div class="alert alert-error login-erro hide">
			<strong>Ops!</strong> Usuário ou senha inválidos.
		</div>
		<div class="alert alert-success login-ok hide">
			<strong>Login realizado com sucesso.</strong>
		</div>

        <button id="limpa-hist" class="hidden" ng-click="limparHistorico()">limpaHist</button>

		<br />
		
		
		<script>
            var user = localStorage.getItem('username');
            if(!isEmpty(user)){
                window.location = '#/tab/pedidos';
                j('.button-gear').show();
                j('#busca-vendedor').click();
            }

			function loginSuccess(){
				j('.login-ok').show('slide');
				setTimeout(function(){
						j('.login-ok').hide('slide');
						window.location = '#/tab/pedidos';
						j('.button-gear').show();
                        j('#busca-vendedor').click();

                        localStorage.setItem("username", j('#user').val());

				}, 1500);
			}
			function loginErro(){
				j('.login-erro').show('slide');
				setTimeout(function(){ 
						j('.login-erro').hide('slide');
				}, 3000);
			}
		</script>
		
		<style>
			.button-gear{ 
				display: none;
			}
		</style>
		
		
		
		
		
		
	</div>

  </ion-content>
</ion-view>
