<ion-view title="Novo Pedido">
  <ion-content class="has-header padding">  
	

	<div id="novo-pedido" class="full dark">

		<div id="" class="">
		<!-- Modal header bar -->
		<ion-header-bar class="bar-secondary bar-stable">
		  <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
			Voltar
		  </ion-nav-back-button>
		  <h1 class="title">Novo Pedido</h1>
		  <button ng-controller="ProdutosCtrl" class="button button-assertive" ng-click="cancelar();" onClick="cancelarNovoPedido();j('#remover-clientes').click();">Cancelar</button>
		</ion-header-bar>
	


		
		
		  <!-- Cliente -->	
		  <form id="" class="dark" ng-submit="createTask(task)" >	
		  asdffsda
			<div ng-controller="ClientesCtrl" id="cliente">
				<a id="remover-clientes" class="hidden" ng-click="removerClientes();" href="#">remover clientes</a>
				<a id="alert-selecionar-cliente" class="hidden" ng-click="alertSelecionarCliente();" href="#">selecionar cliente</a>
				<label class="item item-input">
				  <i class="icon ion-search placeholder-icon"></i>
				  <input type="search" placeholder="Pesquisar" ng-model="search">
				</label>
				<h1>Cliente</h1>
				<div class="list">
					<li class="item cliente" ng-repeat="cliente in clientes | filter:search" ng-class="{marked: cliente.checked}" ng-click="pedidoCliente(cliente.id, cliente.nomeRazao);markIt(cliente);escondeLista();scrollTop();" ng-switch on ="cliente.checked">
					  <div class="float-left">
						  <h2>{{cliente.nomeRazao}}</h2>
						  <p>{{cliente.id}}</p>
					  </div>
					  &nbsp;&nbsp;
					  <span class="cliente-checked ion-android-checkmark" ng-switch-when="true"></span>
					</li>
				</div>
			</div>
		  </form>
		  
		  <!-- Produto -->
		  <form id="form-produto" class="hide" ng-submit="createTask(task)" >	
			<div ng-controller="ProdutosCtrl" id="produto">
				<a id="alert-selecionar-produto" class="hidden" ng-click="alertSelecionarProduto();" href="#">selecionar produto</a>
				<label class="item item-input">
				  <i class="icon ion-search placeholder-icon"></i>
				  <input type="search" placeholder="Pesquisar" ng-model="search">
				</label>
				<h1>Produtos</h1>
				<div class="list">
					<li class="item produto" ng-repeat="produto in produtos" ng-show="produto.checked" ng-class="{marked: produto.checked}" ng-click="carregaGrade(produto.id);pedidoProduto(produto.id, produto.descricao, produto.codigoMobile, produto.valor, produto.checked);markIt(produto);scrollTop();" onClick="" ng-switch on ="produto.checked">
					  <div class="float-left">
						  <h2>{{produto.descricao}}</h2>
						  <p>{{produto.ordem}}</p>
					  </div>
					  &nbsp;&nbsp;
					  <span class="ion-android-checkmark" ng-switch-when="true"></span>
					  <a href="#" onClick="" ng-click="showConfirm('','Deseja remover este produto do seu pedido?',produto);"><span class="float-right ion-trash-b dark" ng-switch-when="true"></span></a>  
					</li>
					
					<li class="item produto" ng-repeat="produto in produtos | filter:search" ng-show="!produto.checked" ng-class="{marked: produto.checked}" ng-click="carregaGrade(produto.id);pedidoProduto(produto.id, produto.descricao, produto.codigoMobile, produto.valor, produto.checked);markIt(produto);scrollTop();" onClick="" ng-switch on ="produto.checked" >
					  <div class="float-left">
						  <h2>{{produto.descricao}}</h2>
						  <p>{{produto.ordem}}</p>
					  </div>
					  &nbsp;&nbsp;
					  <span class="ion-android-checkmark" ng-switch-when="true"></span>
					  <a href="#" onClick="" ng-click="showConfirm('','Deseja remover este produto do seu pedido?',produto);"><span class="float-right ion-trash-b dark" ng-switch-when="true"></span></a>  
					</li>
				</div>
				<div id="grade-produto" class="modal hide">
				<h3>Opções do produto:</h3>
					<button type="submit" id="btn-ok-grade" class="button button-balanced hidden" ng-click="pedidoProdutoGrade(grades)" onClick="j('#grade-produto').hide('blind');">OK</button>
					<button type="submit" id="btn-cancela-grade" class="button button-balanced hidden" ng-click="pedidoProdutoGradeCancelar()">Cancelar</button>
					<br />
					<div class="list" ng-repeat="grade in grades">
						<li class="item">
						  <div class="float-left" style="width:100%;">
							  <h2 class="float-left">{{grade.descricaoGrade}} - {{grade.numeracao}}</h2>
							  <label class="item item-input item-floating-label">
								  <span class="input-label">&nbsp;</span>
								  <input ng-model="qtdGrade[$index]" android:inputType="number" type="number" placeholder="Quantidade" />
							  </label>
						  </div>
						</li>
					</div>
					
			  </div>
			</div>
			
		  </form>
		  
		  <!--Detalhes do Pedido (Fechamento) -->
		  <div ng-controller="PedidosCtrl" id="detalhes-pedido" ng-submit="" class="hide" >
			<h3 class="padding">Detalhes do pedido:</h3>
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">Entrega</span>
					<input ng-model="pedido.fechamento.entrega" type="text" placeholder="Entrega">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Prazo
					</div>
					<select ng-model="pedido.fechamento.prazo.id">
					  <option selected>selecione</option>
					  <option>30</option>
					  <option>60</option>
					  <option>90</option>
					  
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
					  Tipo de cobrança
					</div>
					<select onchange="fechamentoTipoCobranca(this.value)">
						<option selected>selecione</option>
						<option ng-repeat="tipoCobranca in tiposCobranca">{{tipoCobranca.nome}}</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
					  Desconto / Comissão
					</div>
					<select ng-model="pedido.fechamento.descontoComissao.id">
						<option selected>selecione</option>
						<option selected>5</option>
						<option selected>10</option>
						<option selected>15</option>
					</select>
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Desconto(%)</span>
					<input ng-model="pedido.fechamento.desconto" android:inputType="number" type="number" placeholder="Desconto Geral(%)">
				</label>
				<label style="height: 8em" class="item item-input item-floating-label">
					<span class="input-label">Observações</span>
					<input ng-model="pedido.fechamento.observacoes" type="text" placeholder="Observações">
				</label>
			</div>
		  </div>
		  
		  <!-- Resumo do Pedido -->
		<div id="resumo-pedido" ng-controller="PedidosCtrl" ng-submit="createTask(task)" class="hide" style="margin-bottom:50px;" >
			<h3 class="padding">Resumo do pedido:</h3>
			<p>Cliente: {{pedido.cliente.nomeRazao}}</p>
			<p>Data: {{pedido.dataPedido}}</p>
			<p>Entrega: {{pedido.fechamento.entrega}}</p>
			<p>Tipo de Cobrança: {{pedido.fechamento.tipoCobranca.id}}</p>
			<p>Prazo: {{pedido.fechamento.prazo.id}}</p>
			<p>Obs.:{{pedido.fechamento.observacoes}}</p>
			
			<h3 class="padding">Produtos:</h3>	
			<div class="row">
				<div class="col">Produto</div>
				<div class="col">Desc./Numeração</div>
				<div class="col">Quantidade</div>
			</div>
			<div ng-repeat="produto in pedido.pedidoProduto track by produto.id">
				<hr />
				<div ng-show="!grade.quantidade == ''" class="row" ng-repeat="grade in produto.pedidoProdutoGrade">
				  <div class="col">{{produto.descricao}}</div>
				  <div class="col">{{grade.descricaoGrade}} - {{grade.gradeNumeracao}}</div>
				  <div class="col">{{grade.quantidade}}</div>
				</div>
				

				
				
				
				
				
				<!--<span ng-repeat="grade in produto.pedidoProdutoGrade">{{produto.descricao}} - {{grade.descricaoGrade}}-{{grade.numeracao}} -   {{grade.quantidade}}<br /></span> -->
				
			</div>
		
			
			<div class="bottom-space"></div>
		</div>
		  
		

		
		  
		 
		
		 
		 	
		
	</div>
		
		
		
		
		
		
		
		
	</div>

  </ion-content>
  <div ng-controller="PedidosCtrl" class="tabs tabs-positive tabs-icon-left">
			<a width="50%"  class="btn-voltar button button-stable tab-item positive height100" onclick="novoPedidoVoltar()" href="#">
			  <i class="icon ion-ios7-arrow-back"></i>
			  Voltar
			</a>
			
			
			<a width="50%" class="btn-proximo button button-stable tab-item positive height100" href="#" onClick="novoPedidoProximo();">
			  Próximo
			  <i class="icon ion-ios7-arrow-forward"></i>
			  
			</a>
			<a class="btn-confirmar button button-balanced tab-item balanced" ng-click="gravaPedidoMobile();" href="#" onClick="confirmarNovoPedido();recarregaPedidosClick();j('#remover-clientes').click();">
			  Confirmar
			  <i class="icon ion-checkmark"></i>
			</a>
			
			<a class="btn-cancelar-produto button button-stable tab-item button-assertive" style="display:none;"  href="#" onClick="cancelaGrades();j('#btn-cancela-grade').click();">
			  Cancelar
			  <i class="icon ion-android-close"></i>
			</a>
			<a class="btn-ok button button-stable tab-item button-balanced" style="display:none;"  href="#" onClick="okGrades();j('#btn-ok-grade').click();">
			  Ok
			  <i class="icon ion-checkmark"></i>
			</a>
			
			
			
		  </div>
</ion-view>
