<ion-view title="Detalhes do Pedido">
    <ion-content has-header="true" padding="true">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Entrega</span>
                <input ng-model="pedido.fechamento.entrega" type="text" placeholder="Entrega">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Tipo de cobrança
                </div>
                <span class="right hide require-tipoCobranca" style="color:red;margin-right:2em; margin-top:1em; z-index: 999;">Selecione</span>
                <select class="tipo-cobranca" ng-model="pedido.fechamento.tipoCobranca.nome" ng-change="setTipoCobrancaSelect()">
                    <option ng-repeat="tipoCobranca in tiposCobranca">{{tipoCobranca.nome}}</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Prazo
                </div>
                <span class="right hide require-prazo" style="color:red;margin-right:2em; margin-top:1em; z-index: 999">Selecione</span>
                <select class="prazo" ng-model="pedido.prazoSelecionado" ng-change="recuperaDescontoLimite();">
                    <option ng-repeat="prazo in prazos" value="{{prazo.nome}}">{{prazo.nome}}</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Desconto / Comissão
                </div>
                <select ng-disabled="verificaPrazo()" ng-model="pedido.fechamento.descontoComissao.nome">
                    <option ng-repeat="dc in descontoComissao">{{dc.desconto}}% / {{dc.comissao}}%</option>
                </select>
            </label>
            <label style="height: 8em" class="item item-input">
					<span class="input-label" style="width:12em;">
						Desconto(%)

					</span>
                <div ng-show="verificaPrazo()" class="input-label right" style="margin-right:8em;">
                    Selecione primeiro o prazo.
                </div>
                <input id="desconto" ng-disabled="verificaPrazo()" ng-model="pedido.fechamento.desconto" android:inputType="number" type="number">

            </label>

            <label ng-show="vendedor.permitePauta=='true'" class="item item-input item-select">
                <div class="input-label">
                    Pauta
                </div>
                <select ng-model="pedido.fechamento.pauta.nome">
                    <option ng-repeat="pauta in pautas">{{pauta.descricao}}</option>
                </select>
            </label>

            <span style="color:red;" ng-show="descontoLimite < pedido.fechamento.desconto">O desconto máximo para o prazo escolhido é de {{descontoLimite}}% .</span>

            <label style="height: 8em" class="item item-input item-floating-label">
                <span class="input-label">Observações</span>
                <input ng-model="pedido.fechamento.observacoes" type="text" placeholder="Observações">
            </label>
        </div>
        <button id="verifica-pauta" class="hidden" ng-click="vrificaPauta()">asd</button>
    </ion-content>
    <div class="tabs tabs-positive tabs-icon-left">
        <a width="50%"  class="btn-voltar button button-stable tab-item positive height100" href="#/pedido-produto">
            <i class="icon ion-ios7-arrow-back"></i>
            Voltar
        </a>
        <button width="50%" class="btn-proximo button button-stable tab-item positive height100" onClick="fechamentoProximo()">
            Próximo
            <i class="icon ion-ios7-arrow-forward"></i>
        </button>
    </div>

    <script>

        function fechamentoProximo(){

            if(isEmpty(j('select.tipo-cobranca option:selected').text()) && isEmpty(j('select.prazo option:selected').text())){
                j('.require-tipoCobranca').show();
                j('.require-prazo').show();
                return;
            }
            if(isEmpty(j('select.prazo option:selected').text())){
                j('.require-prazo').show();
                return;
            }
            if(isEmpty(j('select.tipo-cobranca option:selected').text())){
                j('.require-tipoCobranca').show();
                return;
            }
            if(j('#desconto').val() > descontoLimite){
                return;
            }

            j('.require-tipoCobranca').hide();
            j('.require-prazo').hide();
            window.location = '#/pedido-resumo';
        }
    </script>

</ion-view>