<ion-view title="Selecionar Produtos">
    <ion-content has-header="true" padding="true">
        <a id="alert-selecionar-produto" class="hidden" ng-click="alertSelecionarProduto();" href="#">selecionar produto</a>
        <div class="item-input item-search">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Pesquisar" ng-model="searchProduto.search">
            </label>
            <button class="button button-stable button-search float-right btn-pesquisar" ng-click="carregaProdutos()">Buscar</button>
        </div>
        <button id="limpar-search-produto" class="hidden" ng-click="limparSearchProduto();">limpar</button>
        <button id="limpar-produtos" class="hidden" ng-click="limparProdutos();">limpar</button>


        <h1>Produtos</h1>
        <div class="list">
            <!-- Produtos selecionados no pedido -->
            <li class="item produto" ng-repeat="produto in produtos" ng-show="produto.checked" ng-class="{marked: produto.checked}" ng-click="carregaGrade(produto.id);pedidoProduto(produto.id, produto.descricao, produto.codigoMobile, produto.valor, produto.checked);markIt(produto);scrollTop();" onClick="" ng-switch on ="produto.checked">
                <div class="float-left">
                    <h2>{{produto.descricao}}</h2>
                    <p>{{produto.ordem}}</p>
                </div>
                &nbsp;&nbsp;
                <span class="ion-android-checkmark" ng-switch-when="true"></span>
                <a href="#" onClick="" ng-click="showConfirm('','Deseja remover este produto do seu pedido?',produto);"><span class="float-right ion-trash-b dark" ng-switch-when="true"></span></a>
            </li>
            <!-- Todos os Produtos -->
            <li class="item produto" ng-repeat="produto in produtos | filter:search" ng-show="!produto.checked" ng-class="{marked: produto.checked}" ng-click="carregaGrade(produto.id);clearInputs();pedidoProduto(produto.id, produto.descricao, produto.codigoMobile, produto.valor, produto.checked);markIt(produto);scrollTop();" onClick="" ng-switch on ="produto.checked" >
                <div class="float-left">
                    <h2>{{produto.descricao}}</h2>
                    <p>{{produto.ordem}}</p>
                </div>
                &nbsp;&nbsp;
                <span class="ion-android-checkmark" ng-switch-when="true"></span>
                <a href="#" onClick="" ng-click="showConfirm('','Deseja remover este produto do seu pedido?',produto);"><span class="float-right ion-trash-b dark" ng-switch-when="true"></span></a>
            </li>
        </div>

        <div ng-show="produtos.length==0" style="width: 100px; margin: auto">
            <img src="img/loader.gif" style="width: 100px" />
        </div>

        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
        <div class="bottom-space"></div>

        <div id="grade-produto" class="modal hide">
            <h3>Opções do produto:</h3>
            <button type="submit" id="btn-ok-grade" class="button button-balanced hidden" ng-click="pedidoProdutoGrade(grades)" onClick="j('#grade-produto').hide('blind');">OK</button>
            <button type="submit" id="btn-cancela-grade" class="button button-balanced hidden" ng-click="pedidoProdutoGradeCancelar()">Cancelar</button>
            <br />
            <div class="list" ng-repeat="grade in grades">
                <li class="item">
                    <div class="float-left" style="width:100%;">
                        <h2 class="float-left">{{grade.descricaoGrade}} - {{grade.numeracao}}</h2>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">&nbsp;</span>
                            <input ng-model="qtdGrade[$index]" android:inputType="number" type="number" placeholder="Quantidade" />
                        </label>
                    </div>
                </li>
            </div>
            <div class="bottom-space"></div>
        </div>

    </ion-content>
    <div class="tabs tabs-positive tabs-icon-left">
        <a width="50%"  class="btn-voltar button button-stable tab-item positive height100" href="#/pedido-cliente">
            <i class="icon ion-ios7-arrow-back"></i>
            Voltar
        </a>
        <button width="50%" class="btn-proximo button button-stable tab-item positive height100" onClick="proximo();">
            Próximo
            <i class="icon ion-ios7-arrow-forward"></i>
        </button>
        <a class="btn-cancelar-produto button button-stable tab-item button-assertive" style="display:none;"  href="#" onClick="cancelaGrades();j('#btn-cancela-grade').click();">
            Cancelar
            <i class="icon ion-android-close"></i>
        </a>
        <a class="btn-ok button button-stable tab-item button-balanced" style="display:none;"  href="#" onClick="okGrades();j('#btn-ok-grade').click();">
            Ok
            <i class="icon ion-checkmark"></i>
        </a>
    </div>
    <script type="text/javascript">
    function proximo(){
        if(!j('li.produto').hasClass('marked')){
            j('#alert-selecionar-produto').click();
            return;
        }else{
            j('#verifica-pauta').click();
            window.location = "#/pedido-fechamento";
        }
    }
    </script>
</ion-view>