<ion-view id="clientes" title="Clientes">

    <ion-content class="has-header padding dark">
        <div class="item-input item-search">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="searchCliente.search" placeholder="Pesquisar">
            </label>
            <button class="button button-stable button-search float-right btn-pesquisar" ng-click="carregaClientes()">Buscar</button>
        </div>
        <br />
        <br />
        <h1>Clientes</h1>

        <ion-list class="list" id="lista-clientes">
            <ion-item ng-repeat="cliente in clientes | filter:search" type="item-text-wrap" href="#/tab/cliente/{{cliente.id}}">
                <h2>{{$index}} - {{cliente.nomeRazao}} - {{cliente.id}}</h2>
                <p>{{cliente.endereco[0].logradouro}}<span ng-show="!cliente.endereco[0].numero == ''">, </span>{{cliente.endereco[0].numero}}<spanng-show="!cliente.endereco[0].bairro == ''">,</span ng-show="!cliente.endereco[0].cidade == ''"> {{cliente.endereco[0].bairro}} <span>- </span> {{cliente.endereco[0].cidade}}  </p>
            </ion-item>
        </ion-list>

        <div ng-show="clientes.length==0" style="width: 100px; margin: auto">
            <img src="img/loader.gif" style="width: 100px" />
        </div>

        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

    </ion-content>

</ion-view>